
/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: -webkit-linear-gradient(to right bottom, #f39c12, #c0392b);
  background:    -moz-linear-gradient(to right bottom, #f39c12, #c0392b);
  background:         linear-gradient(to right bottom, #f39c12, #c0392b);
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}


/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right bottom, #e67e22, #e74c3c);
  background:    -moz-linear-gradient(to right bottom, #e67e22, #e74c3c);
  background:         linear-gradient(to right bottom, #f1c40f, #e67e22);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #648880;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead{
  vertical-align: center;
  text-align: center;
}

.lead img {
  width: 200px;
  height: 200px;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
  color: #fff;
}


/*
  ========================================
  Links
  ========================================
*/

a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 50px 0 22px 0;
  text-transform: uppercase;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-top: 80px;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

.nav a {
  margin-left: 10px;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}

#juang {
  margin-top: 15%;
  padding-bottom: 22px;
  text-align: center;
}

.titleDesc {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 55px;
}

/*
  ========================================
  Section
  ========================================
*/

.segment {
  background-color: #9b59b6;
}

/*
  ========================================
  Members
  ========================================
*/

.primary-member p {
  text-align: left;
}

/* Member 1 */

.member1 img:hover {
  transform: rotate(30deg);

}

/* Member 2 */
.member2 img:hover {
  transform: scale(2);
}

/* Member 3*/
.member3 img:hover {
  transform: skew(-10deg);
}

/* Member 4 */
.member4 img:hover {
  transform: translate(20%);
}

/* Member 5 */
.member5 img:hover {
  transform: perspective(200px) rotateX(45deg);
}

/* Member 6 */

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.member6{
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.member6 .stage:hover .ball {
  animation: slide 5s linear;
}
.member6 .ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
} /* Masih copas dari Shayhowe, nanti diganti */

/*
  ========================================
  Assignment
  ========================================
*/


.assignment {
  color: #fff;
  text-align: center;
  padding: 24px 24px;
  border: solid black;
}


/*
  ========================================
  Forms
  ========================================
*/


form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.questiongroup label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}

.questiongroup input,
.questiongroup select,
.questiongroup textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.questiongroup input,
.questiongroup textarea {
  width: 100%;
}
.questiongroup select {
  height: 34px;
  width: 60px;
}
.questiongroup textarea {
  height: 100px;
}

/*
  ========================================
  Blog
  ========================================
*/

.blog .story {
  margin-bottom: 2em;
}

.blog img {
  max-width: 300px;
  text-align: center;
}

.blog figcaption,
.blog h2 {
  text-align: center;
}

.blog p {
  text-align: left;
  margin-left: 20px;
}
